.container {
  display: grid;
  grid-template-rows: 80vh auto;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.header {
  grid-column: full-start / col-end 6;
}

.agents {
  grid-column: col-start 7 / full-end;
}

.features {
  grid-column: center-start / center-end;
}

.homes {
  grid-column: center-start / center-end;
}

.story-pictures {
  grid-column: full-start / col-end 4;
}

.story-content {
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
}

.gallery {
  grid-column: full-start / full-end;
}

.footer {
  grid-column: full-start / full-end;
}
