.container {
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url('/img/hero.jpeg');
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  grid-row-gap: 1.5rem;
  justify-content: center;
}

.logo {
  height: 3rem;
  object-fit: contain;
  justify-self: center;
}

.button-cta {
  align-self: start;
  justify-self: start;
}

.seen-on-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;

  font-size: 1.6rem;
  color: var(--color-grey-light-2);

  &::before,
  &::after {
    content: '';
    height: 1px;
    display: block;
    background-color: currentColor;
  }
}

.seen-on-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;

  img {
    height: 2.5rem;
    object-fit: contain;
    filter: brightness(70%);
  }
}
